.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.user-list {
  margin: 20px 0 0;
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textLengthInput {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.textRealated {
  margin: 10px 0;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .users,
  .user-list {
    width: 90%;
    margin: 0;
  }
  .user-list {
    overflow: scroll;
  }
}

/* DARK THEME CONFIG */

div.App.dark {
  background-color: #1d2e42;
}

h1.Header-Title.dark {
  color: #fff;
}
