@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.Spinner {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 32%;
  left: 42%;
  right: 0;
  bottom: 0;
  z-index: 200;
  border-radius: 50%;
  border: 10px dashed;
  border-color: #fcb045;
  animation: spin 5s linear infinite;
}
