.listItem-enter {
  opacity: 0;
  transform: scale(0);
}

.listItem-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.listItem-exit {
  /* Iniciando o processo de saida */
  opacity: 1;
  transform: scale(1);
}

.listItem-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease-out;
}
