.user {
  width: 100%;
  margin: 20px auto 10px;
  border: 3px solid skyblue;
  border-radius: 5px;
  padding: 8px;
}

.user.dark {
  border: 3px solid rgb(99, 106, 109);
  background-color: rgb(36, 86, 179);
  color: white;
}

@media (max-width: 360px) {
  .user {
    width: 300px;
  }
}
