.Course {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid dodgerblue;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
}

.Course a {
  box-sizing: border-box;
  padding: 8px;
  height: 100%;
  width: 100%;
  transition: all 0.15s;
}
.Course a.active {
  background-color: skyblue;
}

.Course h3 {
  font-size: 22px;
  margin: 5px 0 5px;
}
