/* App Related styles ==> if i use SASS, i'll create multiple css files and import in only one and that one will be the one to import in index.js */
.App {
  text-align: center;
  box-sizing: border-box;
}
.posts {
  margin: 20px 0 0;
}

.main-title {
  color: rgb(64, 187, 187);
}
