/* App Related styles ==> if i use SASS, i'll create multiple css files and import in only one and that one will be the one to import in index.js */
.App {
  text-align: center;
  box-sizing: border-box;
}

.Car {
  margin: 10px auto;
  background-color: rgb(52, 71, 71);
  color: white;
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgba(75, 72, 72, 0.123);
  display: flex;
  flex-direction: column;
}
